.shop-items-grid {
    padding: 1rem;
    flex-grow: 1;

    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    grid-auto-rows: 1fr;
    gap: 1.5rem;
}

.item-cont {
    max-width: 400px;

    padding: 0.75rem;
    border: 1px solid var(--filter-button-border);
    border-radius: 0.35rem;

    display: flex;
    flex-direction: column;
}

.item-title {
    text-align: left;
    font-size: var(--fs-base);
    font-weight: 700;
}

.item-category {
    text-transform: capitalize;
    font-weight: 500;
    text-align: left;
    font-size: var(--fs-sm);
    font-style: italic;
    opacity: 0.75;
}

.item-img {
    margin-top: auto;
    margin-bottom: 1rem;
    align-self: center;
    object-fit: contain;
    width: 240px;
    height: 180px;
}

.rating-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 0.5rem;
}

.rating-count {
    font-size: var(--fs-sm);
}

.item-count-cont {
    margin-top: 0.5rem;

    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.item-count-cont > button:disabled {
    cursor: not-allowed;
}

.item-count-cont > .increment-order-count,
.item-count-cont > .decrement-order-count {
    cursor: pointer;
    width: 2rem;
    border-radius: 0.35rem;
    border: 1px solid var(--filter-button-border);
    background-color: var(--filter-button-background);
}

.item-count-cont > .increment-order-count:not(:disabled):hover,
.item-count-cont > .decrement-order-count:not(:disabled):hover {
    border: 1px solid var(--filter-button-hover-border);
    background-color: var(--filter-button-hover-background);
}

button.add-to-cart {
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.15rem 0;
    border-radius: 0.25rem;
    color: var(--navbar-text);
    border: none;
    background: var(--header-background);

    transition: 0.3s ease-in-out;
}

button.add-to-cart:hover {
    filter: brightness(1.075);
}

button.error-adding {
    cursor: not-allowed;
    background-color: var(--cancel-red);
}

button.error-adding:hover {
    filter: brightness(1);
}

button.success-adding {
    color: var(--header-button-background);
    cursor: not-allowed;
    background-color: var(--confirm-green);
}

button.success-adding:hover {
    filter: brightness(1);
}

.shake-horizontal {
    -webkit-animation: shake-horizontal 0.8s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-11-4 11:30:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    80% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    90% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }
}
@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    80% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    90% {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }
}

@media (min-width: 40rem) {
    .shop-items-grid {
        margin-top: 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
}

@media (min-width: 48rem) {
    .shop-items-grid {
        padding: 1rem 1.5rem;
    }
}
