@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/Nunito-Variable.woff2);
}

@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/Nunito-VariableItalic.woff2);
    font-style: italic;
}

:root {
    --font-stack:
        system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

    color-scheme: light;

    --text-main: #121212;
    --text-alt: #f8fafc;
    --background-color: #f7f8fa;
    --primary-color: #023ad5;
    --secondary-color: #3b3d54;
    --accent-color: #051391;

    --nav-menu-background: rgba(59, 61, 84, 0.925);
    --header-background: #3b3d54;

    --nav-menu-text: #f8fafc;
    --navbar-text: #f8fafc;

    --header-button-background: #121212;
    --header-button-text: #f8fafc;

    --highlights-border: rgba(18, 18, 18, 0.4);

    --text-gradient: linear-gradient(
        90deg,
        rgba(0, 139, 214, 1) 25%,
        rgba(5, 77, 232, 1) 50%,
        rgba(6, 53, 184, 1) 75%
    );

    --filter-button-background: #f6f7fb;
    --filter-button-hover-background: #edeff8;

    --filter-button-border: #c7c8d9;
    --filter-button-hover-border: #c3c6e0;

    --filter-cont-border: #bfc1d3;
    --filter-cont-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

    --cancel-red: #8f0000;
    --confirm-green: #00c71b;

    --input-placeholder: #3b3d54;
}

:root:has(body.dark-mode) {
    color-scheme: dark;

    --text-main: #f8fafc;
    --text-alt: #121212;
    --background-color: #040609;
    --primary-color: #042565;
    --secondary-color: #1e3a8a;
    --accent-color: #070358;

    --nav-menu-background: rgba(47, 52, 71, 0.925);
    --header-background: #2f3447;

    --highlights-border: rgba(248, 250, 252, 0.225);

    --text-gradient: linear-gradient(
        90deg,
        rgba(90, 194, 250, 1) 25%,
        rgba(67, 144, 232, 1) 50%,
        rgba(50, 123, 240, 1) 75%
    );

    --filter-button-background: #0a0c12;
    --filter-button-hover-background: #12151d;

    --filter-button-border: #2a2d3a;
    --filter-button-hover-border: #3e4252;

    --filter-cont-border: #313344;
    --filter-cont-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.95);

    --cancel-red: #780000;

    --input-placeholder: #555A78;
}

body {
    font-family: Nunito, var(--font-stack);
    background-color: var(--background-color);
    color: var(--text-main);
}

#root {
    min-height: 100svh;
    flex-direction: column;
    display: flex;
}

.inline-img {
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Josh Comeau's breaks ant design's "Rate" component, this fixes the issue */
.ant-rate svg {
    display: inline-block;
    max-width: none;
    width: 1em;
    height: 1em;
}

body:has(header > nav > .nav-menu) {
    overflow: hidden;
}

button { 
    cursor: pointer;
}

.hidden {
    display: none;
}